
<div class="page-header">
  <h1>
    Ma bièrothèque
    <small>{{beers.length}} bieres</small>
     <a href="#/beers/create" class="btn btn-primary">Ajouter une bière</a>
  </h1>
</div>

<div class="row">
  <form class="form-search pull-right">
    <input type="text" class="input-medium search-query" ng-model="search" placeholder="Search">
  </form>
</div>

<ul class="thumbnails">
    <li ng-repeat="beer in beers | filter:search | orderBy:predicate:reverse" class="span12">
      <div my-beer beer="beer"></div>
    </li>
</ul>